@page "/contact"

<PageTitle>Robertmonden.com - Contact</PageTitle>
<PageHeader Title="Contact" />
<Line />

<table id="contact-info" class="table w-50">
    <tbody>
        <tr>
            <td><strong><i class="fas fa-id-card"></i> Name:</strong></td>
            <td>Robert Monden</td>
        </tr>
        <tr>
            <td><strong><i class="fas fa-phone"></i> Phone Number:</strong></td>
            <td>+31 6 249 696 89</td>
        </tr>
        <tr>
            <td><strong><i class="fas fa-envelope"></i> E-mail Address:</strong></td>
            <td>robert [at] robertmonden [dot] com</td>
        </tr>
        <tr>
            <td><strong><i class="fab fa-linkedin"></i> LinkedIn:</strong></td>
            <td><a href="https://linkedin.com/robert-monden" target="_blank"
                    rel="noreferrer">https://linkedin.com/robert-monden</a></td>
        </tr>
        <tr>
            <td><strong><i class="fab fa-github"></i> GitHub:</strong></td>
            <td><a href="https://github.com/nedroden" target="_blank" rel="noreferrer">https://github.com/nedroden</a>
            </td>
        </tr>
    </tbody>
</table>

<p><strong>Note:</strong> I usually do not answer anonymous calls. If you're unable to disable this option because of,
    say, company policy, please send me an e-mail in advance.</p>
