@page "/skills"

<PageTitle>Robertmonden.com - Skills</PageTitle>
<PageHeader Title="Skills" />
<Line />

<p>This page lists both my current skills and the skills I would like to learn in the future. Although each skill is
    accompanied by a skill level, these skill levels are merely an estimation. There is a large correlation between
    classifying a skill level at <em>advanced</em> and me having worked with the respective technology recently.</p>

<h3>Current Skills</h3>
<Line />
<div id="skills-container" class="container">
    <div class="row">
        <div class="col">
            <h4>Back-End</h4>
            <ul class="list-group mb-5">
                <Skill Label=".NET (Core)" Level=@(SkillLevel.Advanced) />
                <Skill Label="PHP" Level=@(SkillLevel.Advanced) />
                <Skill Label="Java" Level=@(SkillLevel.Advanced) />
                <Skill Label="HTML" Level=@(SkillLevel.Advanced) />
                <Skill Label="Go" Level=@(SkillLevel.Intermediate) />
                <Skill Label="COBOL" Level=@(SkillLevel.Intermediate) />
                <Skill Label="Python" Level=@(SkillLevel.Intermediate) />
                <Skill Label="MySQL/PostgreSQL" Level=@(SkillLevel.Intermediate) />
                <Skill Label="CSS" Level=@(SkillLevel.Intermediate) />
                <Skill Label="Git" Level=@(SkillLevel.Basic) />
                <Skill Label="LaTeX" Level=@(SkillLevel.Basic) />
                <Skill Label="C++" Level=@(SkillLevel.Basic) />
                <Skill Label="Powershell" Level=@(SkillLevel.Basic) />
            </ul>

            <h4>Methodologies, Paradigms and Others</h4>
            <ul class="list-group mb-5">
                <Skill Label="Agile (specifically Scrum)" Level=@(SkillLevel.Intermediate) />
                <Skill Label="Scientific programming" Level=@(SkillLevel.Basic) />
                <Skill Label="Machine learning" Level=@(SkillLevel.Basic) />
                <Skill Label="Microservices" Level=@(SkillLevel.Basic) />
                <Skill Label="Mobile development" Level=@(SkillLevel.Basic) />
                <Skill Label="Microsoft Azure" Level=@(SkillLevel.Basic) />
            </ul>
        </div>
        <div class="col">
            <h4>Front-End</h4>
            <ul class="list-group mb-5">
                <Skill Label="Blazor" Level=@(SkillLevel.Intermediate) />
                <Skill Label="Typescript" Level=@(SkillLevel.Intermediate) />
                <Skill Label="React" Level=@(SkillLevel.Intermediate) />
                <Skill Label="Angular" Level=@(SkillLevel.Basic) />
            </ul>

            <h4>Operating Systems</h4>
            <ul class="list-group mb-5">
                <Skill Label="Linux" Level=@(SkillLevel.Intermediate) />
                <Skill Label="Windows" Level=@(SkillLevel.Intermediate) />
                <Skill Label="MacOS" Level=@(SkillLevel.Basic) />
            </ul>

            <h4>Languages</h4>
            <ul class="list-group mb-5">
                <Skill Label="Dutch (native)" Level=@(SkillLevel.Advanced) />
                <Skill Label="English" Level=@(SkillLevel.Advanced) />
                <Skill Label="Spanish" Level=@(SkillLevel.Intermediate) />
                <Skill Label="Russian" Level=@(SkillLevel.Basic) />
                <Skill Label="Norwegian" Level=@(SkillLevel.Basic) />
                <Skill Label="Arabic (MSA)" Level=@(SkillLevel.Basic) />
            </ul>
        </div>
    </div>
</div>

<h3>Interests</h3>
<Line />
<p>Topics I would like to learn more about in the future include, but are not limited to:</p>

<ul>
    <li>Physics and Mathematics;</li>
    <li>What makes coffee, objectively, the best beverage;</li>
    <li>Interdisciplinary applications of programming;</li>
    <li>Data science;</li>
    <li>iOS development;</li>
    <li>Leadership and public speaking;</li>
    <li>Artificial intelligence.</li>
</ul>
