@page "/thesis"

<PageTitle>Robertmonden.com - Thesis</PageTitle>
<PageHeader Title="Thesis" />
<Line />

<p>This page contains a number of URLs to resources I use to write my master's thesis. If I have spare time, I may
    expand this webpage to include status updates, such as commit message.</p>

<ApplicationList />
