<div class="col">
    <div class="card">
        <div class="row no-gutters g-0 d-flex align-items-center">
            <div class="col-md-3 text-center">
                <img src="images/applications/@(Application.IconFilename)"
                    class="img-fluid rounded-start application-logo" alt="Application logo" />
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">@Application.Name</h5>
                    <p class="card-text">@Application.Description</p>
                    <a href=@Application.Url class="btn btn-primary" target="_blank" rel="noreferrer">
                        Go to application
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
